body {
    background-color: #79cbb8;
    display: flex;
    justify-content: center;
    font-family: "Century Schoolbook";
}

.page {
    width: 595px;
    height: 842px;
    background: white;
}

.page_container {
    padding: 30px;
    height: 100%;
}

#title_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}

.successcriteria {
    display: inline;
}

#objective-entered {
    margin-top: 10px;
    color: grey;
    font-style: italic;
}

.download_pdf {
    box-shadow: 0px 4px 0px #ad83a8;
}

.download_pdf:active {
    box-shadow: 0 0 #ba8cb5;
    background-color: #ba8cb5;
}
