body {
    background-color: #79cbb8;
    color: #500472;
    font-family: "Montserrat", sans-serif;
}

.main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_container {
    margin: 50px;
}

h1 {
    font-weight: 900;
    font-size: 72px;
    margin-left: 12px;
    margin-top: 45px;
}

h2 {
    font-size: 48px;
    margin-top: 135px;
}

h4 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 89px;
}

.form-label {
    font-size: 18px;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

form {
    width: 100%;
}

.form_control {
    background-color: #500472;
    color: #79cbb8;
    border-radius: 10px;
    width: 100%;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.next-btn,
.back-btn,
.submit-btn {
    background-color: #500472;
    border-radius: 30px;
    color: #79cbb8;
    font-size: 18px;
    width: 271px;
    height: 55px;
    margin: 50px;
}

.btn:hover {
    background-color: #79cbb8;
    color: #500472;
    border: solid #500472;
}

.objective_step-1 {
    display: none;
}

.step {
    display: none;
}

.step.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.advice {
    width: 30%;
}

#success_criteria_advice {
    width: 30%
}

#lesson_time {
    width: 100px;
}

.lesson_time_wrapper {
    display: flex;
    justify-content: center;
}

/* The Progress Bar */
.circle img {
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.progress_bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

/* #9c27b0
#bdbdbd */

.progress_bar::before {
    content: "";
    background-color: #bdbdbd;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress {
    background-color: #500472;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #79cbb8;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid #b2bec3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

.circle.active {
    border-color: #500472;
}